.section-container {
    margin: 20px;
  }
  
  .textcontainer {
    color: var(--color-white);
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
  }
  
  .collapsebutton {
    color: var(--color-primary);
    cursor: pointer;
  }
  
  .cardcontainer {
    margin: 20px 5px;
  }