.hero{
    background-color:var(--color-black) ;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.herotext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 48px;
    font-weight: 600;
    margin: 20px;
}
.herotext>h1{
    height: 48px;
   font-size: 32px;

}
.heroImage {
    height: 212px;
    width: 212px;
  }